$color2: #fe5864;
$color1: rgb(40, 182, 40);
$color3: black;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./imports/header";
@import "./imports/productos";
@import "./imports/footer";

*{
   padding: 0;
   margin: 0; 
}


/* selector (puede ser una etiqueta/una clase/ un id) - propiedad - valor*/

body{
    background-color: rgb(245, 215, 215);
    font-family: sans-serif;
   
    
      
}



nav{
   background-color: $color1;
}


 .container-fluid img{
     max-height: 100px;
 }

.carousel-inner{
    background-color: rgb(245, 215, 215);
  
}





 /* main del index */
 
 .principal{
    top: 300px;
    margin-top: 50px;
    text-align: center;
    color: $color1;
    
    
 }



/* frame de video index */

 .video iframe{
    
    margin-top: 20px;
    align-content: center;
 }
 



    
 


/* Extend */

.parrafo{
   
   color: $color1;
   
    
}


.col-6 h4{
    @extend.parrafo;
   
     
}



 

 
 /* títulos de secciones */
  
 h1{
    color: $color1;
    font-weight: bolder;
    margin-bottom: 10px;
   
 }



/* sección nosotras */


.nosotras-contenido{
   padding: 50px; 
   margin-top: 50px;
   margin-bottom: 50px;
   background-color: white;
   .col-6{
      margin: auto;
   }
   img {
    width: 70%;
    height: auto;
   } 
  
}
/* Contacto mapas*/

$formulario:(
   primary: blue,


);

@each $boton, $color in $formulario {
   .btn-#{$boton}{
      background-color: $color;
   }
   
};









/* ubicación */

.mapa{
    align-content: center;
    margin-top: 50px;
}

.carousel{
   width: 50%;
   margin: auto;
}

.carousel-inner {
   background-color: grey;
   
   width: 100%;
   align-content: center;
   .carousel-item{
      img{
      width: 25%;
      height: 25%;
   }
}
}

@media screen and (max-width: 769px) {
   
   .video iframe{
    width: auto;
    height: auto;
   }


   
   .nosotras-contenido{
      padding: 0px; 
      margin-top: 10px;
      margin-bottom: 10px;
      .row{
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
      } 
      img{
         width: 100%;

      }  
      .col-6{
         justify-items: center;
      }
   }
}