a:hover {
    background-color:  rgb(245, 215, 215);
}   

.navbar-toggler {
    background-color:$color4;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space space-between;

}

.navbar-brand{
        display: flex;
    flex-direction: row;
   
}
