@mixin productostext ($color, $style){
    color:$color;
    style:$style;
}


.productos .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    margin-top: 50px;
}

 .card{
    display: grid;
    height: 25rem;
    border-radius: 10px;
    background-color: $color6; 
    border: 2px solid #8888;
    
    p{
    @include productostext (black,italic);
    justify-content: center;
    text-align: center;
    }
    &:hover{
        animation: miel 3s;
        transform: scale(1.06);     
      
    }
  } 
 
  .card img{
    border-radius: 10px 
  }



@keyframes miel{
     
    25%{
        transform: scale(1.10);
        
    }
    
}

