@mixin productostext ($color, $style){
    color:$color;
    style:$style;
}



.productos .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    margin-top: 50px;
}


 .card{
    display: grid;
    height: 25rem;
    @include productostext (violet,italic);
    justify-content: center;
    text-align: center;
    &:hover{
        animation:  miel 3s;     
      
    }
  } 
 



/* primero transformo el elemento y luego le aplico la transición */   


@keyframes miel{
     
    25%{
        transform: scale(1.5);
        
    }
    
}

