@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
   padding: 0;
   margin: 0; 
}

/* selector (puede ser una etiqueta/una clase/ un id) - propiedad - valor*/

body{
    background-color: rgb(245, 215, 215);
}
a:hover {
    background-color:  rgb(245, 215, 215);
}   
.navbar-nav{
    align-items: flex-end;
}

 .container-fluid img{
     max-height: 100px;
 }

.carousel-inner{
    background-color: grey;
}





 /* main del index */
 
 .principal{
    top: 300px;
    margin-top: 50px;
    text-align: center;
    color: rgb(105, 26, 151);
    
    
 }



/* frame de video index */

 .video iframe{
    width: auto;
    height: auto;
    margin-top: 20px;
    align-content: center;
 }
 


 #subtitulo{
    color: red;
    margin-top: 50px;
    align-content: center;
    font-family: 'Quicksand', sans-serif;
    
 }

 p{
    color: rgb(105, 26, 151);
    font-family: 'Quicksand', sans-serif;
    text-align: flex;
 }



 /* footer */
 .site-footer {
    height: 150px;
    
    margin-top: 50px;

}

.redes a i {
    color: violet;
    font-size: 40px;
}
.redes a i:hover {
    color: violet;
}



 
 /* títulos de secciones */
  
 h1{
    color: rgb(105, 26, 151);
    margin-bottom: 50px;
   
 }



 /* Grid productos  
 
  .grid-productos{
   display: grid;
   grid-template-columns: repeat(4,1fr);
    

 }
 
 */


.container{
    display: grid;
    justify-items: center;
    row-gap: 20px;
    column-gap: 20px;
}
 .card p{
    text-align: center;
}

 
 .card{
    display: grid;
    justify-content: center;
    
    border: 1px solid black;
    
}



/* primero transformo el elemento y luego le aplico la transición */


.card:hover{
    animation:  miel 3s;
    
    

}
@keyframes miel{
     
    25%{
        transform: scale(1.5);
        
    }
    
}



/* sección nosotras */


.nosotras-contenido img {
    
   
    width: 70%;
    height: auto;
    
}

/* ubicación */

.mapa{
    align-content: center;
    margin-top: 50px;
}
